/*
 * ogrid.shell.css
 * Shell styles
*/

.ogrid-shell-head, .ogrid-shell-head-logo, .ogrid-shell-head-menu, .ogrid-shell-head-acct,
      .ogrid-shell-head-search, .ogrid-shell-main, .ogrid-shell-main-nav,
      .ogrid-shell-main-content, .ogrid-shell-foot, .ogrid-shell-grid,
      .ogrid-shell-modal {
        position : absolute;
      }
      .ogrid-shell-head {
        top    : 0;
        left   : 0;
        right  : 0;
        height : 40px;
      }
      .ogrid-shell-head-menu {
      	top    : 4px;
      	left   : 4px;
        right  : 0;
        height : 32px;
        width  : 32px;
        z-order : 1;
        background : green;
      }
      .ogrid-shell-head-logo {
        top        : 4px;
        left       : 36px;
        height     : 32px;
        width      : 128px;
        background : orange;
      }
      .ogrid-shell-head-acct {
        top        : 4px;
        right      : 0;
        width      : 160px;
        height     : 32px;
        background : violet;
      }
      .ogrid-shell-head-search {
        top        : 4px;
        right      : 160px;
        width      : 320px;
        height     : 32px;
        background : blue;
      }

      .ogrid-shell-main {
        top    : 40px;
        left   : 0;
        bottom : 40px;
        right  : 0;
      }
      .ogrid-shell-main-content,
      .ogrid-shell-main-nav {
        top    : 0;
        bottom : 0;
      }
      .ogrid-shell-main-nav {
        width  : 300px;
        background : #eee;
        z-index : 5;
        height:  100%;
      }
      .ogrid-x-closed .ogrid-shell-main-nav {
          width  : 0;
      }
      .ogrid-shell-main-content {
        left  : 0px;
        right : 0;
        background : #ddd;
      }
      .ogrid-x-closed .ogrid-shell-main-content {
          left : 0;
        }
      .ogrid-shell-foot {
        bottom : 0;
        left   : 0;
        right  : 0;
        height : 40px;
      }
      .ogrid-shell-foot-busy {
        top        : 30px;
        left	   : 10px;
        width      : 43px;
        height     : 11px;
        z-index    : 1;
        background: blue;
      }
      .ogrid-shell-grid {
        bottom     : 0;
        right      : 0;
        width      : 100%;
        height     : 15px;
        background : red;
        z-index    : 1;
      }
      .ogrid-shell-modal {
        margin-top    : -200px;
        margin-left   : -200px;
        top           : 50%;
        left          : 50%;
        width         : 400px;
        height        : 400px;
        background    : #fff;
        border-radius : 3px;
        z-index       : 2;
      }