<!-- Quick Search Help content -->
<div>
    <p>
        <i>The quick search help feature assists users in performing a valid search. Each search is unique based on query type. Some are query by keyword and others are queried based off keyword followed by key phrase (descriptive text) e.g., tweets and weather query.</i>
    </p>
    <p><b>Find an Address</b><br> 50 W. Washington St
    <p><b>Display area by Lat and Long</b><br> 41.8270, -87.6423
    <p><b>Search by Place Name</b><br> Daley Center
    <p><b>Search by Tweets</b><br> Tweet Ballet</p>
    <p><b>Search area weather</b><br> Weather 60602</P>
</div>