#loginForm {
	position: fixed;
	background-image: url("../images/background_lake_east.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.ogrid-login .panel {
	background-color: transparent;
}

.ogrid-login .panel-default {
	border-color: transparent;
}

.ogrid-login .panel-default>.panel-heading {
	color: #fff;
	background-color: transparent;
	border-color: transparent;
	text-align: center;
}

.ogrid-login .login-panel input {
	background: rgba(107,107,107,0.9);
	border: 0px;
	color: #fff;
}

.ogrid-login h2 {
	font-family: 'Raleway', sans-serif;
	//	font-size: 5em;
}

.ogrid-login img {
height:20%;
width:20%;
}

.ogrid-login .alert-danger{
	color: #fff;
	background-color: #2b323a;
	border-color: #46576d;
}

.login-panel span.glyphicon {
	color: #fff;
	position: absolute;
	left: 0;
	padding: 10px 0 0 27px;
}

.ogrid-login .form-control {
    width: 100%;
    height: 34px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@media only screen and (max-width: 680px) {
      h2 { font-weight: bold !important;
           font-size: 3em;
         }
      
      .panel-heading {
            margin-left:-15px
    }

.login-panel {
 margin-top:0px

}

}
@media only screen and (min-width: 680px) {
      h2 { font-weight: bold !important;
           font-size: 5em; 
         }

}