#loginForm {
	position: fixed;
	background-image: url("./images/background_lake_east.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.panel {
	background-color: transparent;
}

.panel-default {
	border-color: transparent;
}

.panel-default>.panel-heading {
	color: #fff;
	background-color: transparent;
	border-color: transparent;
	text-align: center;
}

.login-panel input {
	background: rgba(107,107,107,0.25);
	border: 0px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
}

.alert-danger{
	color: #fff;
	background-color: #2b323a;
	border-color: #46576d;
}

.login-panel span.glyphicon {
	color: #fff;
	position: absolute;
	left: 0;
	padding: 10px 0 0 27px;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
