/*
 * ogrid.css
 * Root namespace styles
*/

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#ogrid-nav {
  z-index: 3001;
}

#ogrid-search {
  margin-left: -15px;
  min-width: 130px;
}


#ogrid-search.pull-left.col-xs-7 {
  padding: 0px;
  width: 280px;
}

/* keep at the top, not stack per normal Bootstrap behavior */
@media (min-width: 450px) {
  #ogrid-search {
    width: 280px;
    margin-left: 0px;
  }
}

/* iPhone 6 Plus or smaller */
@media (max-width: 450px) {
  #ogrid-search {
    /*width: 277px;*/
    width: calc(100% - 180px);
    margin-left: 0px;
  }
  #ogrid-search.pull-left.col-xs-7 {
    padding: 0px;
    width: calc(100% - 180px);
  }
}


@media (max-width: 840px) {
  #ogrid-menu p {
    margin-right: 5px;
  }
}


/* we need to override z-index of modals (used by bootbox) due to high z-index of the leaflet elements
and consequently our other UX elements */
.modal {
  z-index: 8000;
}

#ogrid-content {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  top: 50px;
  left: 0;
  bottom: 22px;
  right: 0;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
  left:0;
  top:0;
  bottom: 50px;

  /*-box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

#ogrid-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;

  /* should be on top of Leaflet's attribution text */
  z-index: 3000;
}




.flyover {
  left: 150%;
  overflow: hidden;
  position: fixed;
  width: 50%;
  opacity: 0.9;
  z-index: 1050;
  transition: left 0.6s ease-out 0s;
}

.flyover-centered {
  top: 50%;
  transform: translate(-50%, -50%);
}

.flyover.in {
  left: 50%;
}

.flyover-bottom {
  bottom: 10px;
}

.ogrid-footer-panel-heading {
  padding: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.ogrid-footer-panel-group .ogrid-footer-panel {
  border-radius: 0;
  margin-bottom: 0;
}

h6 > a {
  background-color: #E8E8E8;
  width: 100%;
  display: block;
  padding: 10px 15px;
  outline: none;
}

/*.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
  text-decoration: none;
  outline: none;
}*/

#ogrid-panel-caret {
  margin-top: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.ogrid-task-pane {
  background-color: #E8E8E8;
  position: fixed;
  top: 50px;
  width: 600px;
  height: 100%;
  right: -600px;

  /* should be on top of Leaflet's attribution text and layer control */
  z-index: 2500;
}

.ogrid-task-pane.visible {
  right: 0px;
}

@media (max-width: 600px) {
  .ogrid-task-pane {
    width: 100%;
  }
}



.ogrid-table {
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/*.dataTables_wrapper {
  min-height: 300px;
}
*/

.ogrid-nav-btn {
  margin-left: 5px;
}

.ogrid-tab-link {
}

.flyover {
  /* bumped up due to leaflet z-index */
  z-index: 5000;
}



.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

#ogrid-busy {
  position: absolute;
  top:calc(50% - 46px/2); /* height divided by 2*/
  left:calc(50% - 130px/2); /* width divided by 2*/
  z-index: 5000;
}

.clickable {
  cursor: pointer;
}

.tab-content {
  /*padding-top: 10px;*/
}

.panel-body {
  margin-right: 10px;
  margin-left: 10px;
}

.form-in-panel {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

/* hover causes jitter when advanced search loses focus, do it the normal way */
/*#build-query:hover {*/
#build-query {
  overflow-y: auto;
  overflow-x: hidden;
}


.navbar .navbar-form{
  padding: 0 15px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ogrid-footer td, th {
  /*white-space: nowrap;
  overflow: hidden; text-overflow: ellipsis;*/
}

/* For Bootstrap responsive table to work in Firefox */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.nav-tabs > li .close {
  margin: -2px 0 0 10px;
  font-size: 18px;
}

#tableview .panel-body {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
}

#tableview .nav >li > a {
  padding: 8px 8px
}

.table-striped tbody tr.highlight td {
  background-color: #deebf7;
}

#tableview tbody tr.new-data-highlight td {
  background-color: #d9f0a3;
}

#qsearch-input {
  padding-right: 25px;
}


#ogrid-qsearch-hint {
  right: 34px;
  cursor: pointer;
  color: #ccc;
  position: absolute;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  z-index: 5;
}

#ogrid-qsearch-hint:focus {
  outline: none;
}

#qsearch .popover {
  width: 500px;
}

.popover {
  width: 500px;
}

.popover-content {
  padding: 10px;
  width: 272px;
  overflow-y: auto;
  height: 600px;
}

#ogrid-adv-content .panel-heading {
  cursor: pointer;
}

/* mobile styles for quick search hint */
@media (max-width: 480px) {
  /*#qsearch .popover {*/
  .popover {
    width: 230px;
  }
}


.small-screen-menuitem {
  display: block;
  clear: both;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #777;
  line-height: 25px;
  padding: 5px 15px 5px 25px;
  cursor: auto;
  text-align: -webkit-match-parent;
  list-style: none;
  font-size: 14px;
  border: none;
  padding-left: 15px;
}

.leaflet-control-layers-list label {
  font-weight: normal;
}

/* make heatmap appear on top of dots, just like in leaflet 0.7.3; this changed in leaflet 1.0.1 */
.leaflet-map-pane canvas {
  z-index: 250;
}

/* override some Leaflet styles */

/* For hi res screens, use 2x */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .glyphicon-question-sign {
    font-size: 18px;
  }
  .fa-home, .fa-dot-circle-o {
    font-size: 20px;
    margin-left: -5px;
  }

  .leaflet-control-locate a {
    background-position: -2px -1px;
  }

  .leaflet-control-fullscreen a {
    background-position: 2px 1px;
  }
}

@media (max-width: 450px), (max-height: 450px) {
  /* hide the zoom box control on smaller devices, not needed */
  .leaflet-zoom-box-control {
    display: none;
  }
  .leaflet-control-fullscreen  {
    display: none;
  }
}

/* make Columns menu always left aligned to prevent going over the left edge on mobile */
/* override table view */
.bootstrap-table .fixed-table-toolbar .columns div[title='Columns'] .dropdown-menu {
  left: 0px;
  right: auto;
}

/*widen heatmap dropdown menu to avoid wrapping of text */
.bootstrap-table .fixed-table-toolbar .columns div[title='Heat Map'] .dropdown-menu {
  width: 165px;
}
.map-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.map-info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend .ogrid-legend-circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 4px;
}

.ogrid-logo-small {
  width: 32px;
  height: 32px;
  /*padding-top: 9px;*/
  margin-top: 10px;
  margin-left: 10px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}