/*
 * Session.css
 * Styles used by ogrid.Session particularly the login form
*/
.ogrid-login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.grid-login h2 {
    font-size: 30px;
}

.login-panel {
    max-width: 500px;
    margin: 100px auto;
}


.login-panel span.glyphicon {
    color: #adadad;
    position: absolute;
    left: 0;
    padding: 10px 0 0 27px
}


.login-panel input {
    background: #fafafa;
    border: none;
    padding-left: 40px;
    border: 1px solid #EDEDED;
    margin-bottom: 20px;
}

.login-panel .row {
    margin-top: 10px;
}

.login-panel button {
    font-weight: bold;
    line-height: 24px;
}


.login-panel .alert {
    margin-top: 20px;
    margin-bottom: 10px;
}